<body>
    
<div class="background">

<!--***헤더부분***-->

    <div class="header">
        <div class="my_page">
            <% if user_signed_in? %>
                <%= current_user.email %> 님 안녕하세요!
            <% else %>
                안녕하세요 :)
            <% end %>
        </div>
        <div class="logo">
            blooming day &#x1F337
        </div>
        <div class="page_name">
            buyer |
        </div>
        <!--메인페이지 링크 삭제-->
        <div class="login_logout">
            <% if user_signed_in? %>
                <a href="/users/sign_out" data-method="delete">로그아웃</a>
            <% else %>
                <a href="/users/sign_in">로그인</a>
            <% end %>
        </div>
    </div>
    


<!--***컨텐츠부분***-->


<div class="container">
<div class="content">

    <!--검색기능 추가-->
    <div class ="search_bar">
        <form action="/blooming_days/index" method="GET">
            <input type="text" name="query" vlaue="<%= params[:query]%>" placeholder="꽃 이름을 검색 해보세요 (예: 튤립)">
            <button type="submit">검색</button>
        </form>
    </div>

<% @sellers.each do |seller|%>
    <div class="card">
        <div class="store_name">
            <a href="/blooming_days/<%= seller.id %>/show"><%= seller.name %></a>
        </div>
        <div class="location">
            <%= seller.location %>
        </div>
        <div class="region">
            <%= seller.region %>
        </div>
        
        <% if seller.img.attached? %>

<!--***캐러셀 테스트***-->
<div id="main">
    <div id="carousel">
        <ul>
            <li><img class="store_photo" src="<%= url_for(seller.img) %>"></li>
            <li><img class="store_photo" src="<%= url_for(seller.img) %>"></li>
            <li><img class="store_photo" src="<%= url_for(seller.img) %>"></li>
            <li><img class="store_photo" src="<%= url_for(seller.img) %>"></li>
            <li><img class="store_photo" src="<%= url_for(seller.img) %>"></li>
        </ul>
    </div>
</div>

<script>
    
$(document).ready(function(){
   setInterval(function(){
  $('#carousel ul').animate({marginLeft:'-100%'}, 4000, function() {
      $(this).find("li:last").after($(this).find("li:first"));
      $(this).css({marginLeft:0});
  });
  },2000);    
});

</script>

<!--***캐러셀 테스트 끝***-->

        <% end %>
    </div>

<% end %>

<hr>
    <div class ="page_number">
    <%== pagy_nav(@pagy) %> <%== pagy_info(@pagy) %>
    </div>
<br>

</body>